.anm-rotate {
  animation: rotate 3s linear infinite;
}

// 下划线动画
.underline {
  position: relative;
  &::after {
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s ease-out;
    border-radius: 50%;
  }
  &:hover::after {
    width: 100%;
    transition: all .1s ease-out;
    border-radius: 1px;
  }
}

@keyframes rotate {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
