// color ///////////////////////////////////////////////

$body-bg: #eaf5f5; // body背景色
$nav-bg: #89d4a7; // 导航背景色
$nav-color: #fff; // 导航字体颜色
$font-color-title: #454545; // 标题字体颜色
$font-color-content: #555; // 内容字体颜色
$font-color-tips: #ababab; // 提示字体颜色

$red: #ff694e;
$green: #89d4a7;
$yellow: #ffe585;
$blue: #aaeeff;
$pink-deep:#f79f9e;
$pink:#ffd1cd;

$dark: #000; // 纯黑
$black-deep: #333; // 深黑
$black: #555; // 黑色
$black-light: #999; // 浅黑
$gray: #ababab; // 灰色
$white-deep: #f7f7f7; // 乳白
$white: #fff; // 纯白

// font-size ///////////////////////////////////////////////
$font-title: 26px;
$font-content: 18px;
$font-tips: 16px;

//  mixins ///////////////////////////////////////////////

// 清楚浮动
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// 水平居中
@mixin translateX-center() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// 垂直居中
@mixin translateY-center() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


// common class ///////////////////////////////////////////////
.fl {
  float: left;
}

.fr {
  float: right;
}

.t-a-c {
  text-align: center;
}

.t-a-l {
  text-align: left;
}

.t-a-r {
  text-align: right;
}

.m-0-auto {
  margin: 0 auto;
}

.w-b-bw {
  word-break: break-word;
}

.w-b-ba {
  word-break: break-all;
}




// 全局缓动动画类
.transition-1 {
  transition: all 1s ease;
}

.transition-05 {
  transition: all .5s ease;
}

.transition-03 {
  transition: all .3s ease;
}

.transition-01 {
  transition: all .1s ease;
}

