@import 'src/assets/style/_common.scss';
.home-article-list {
  max-width: $article-max-width;
  padding: 0 10px;
  margin: 0 auto;
}

ul {
  padding-bottom: 200px;
  li {
    display: block;
    padding: 40px 30px;
    margin-top: 25px;
    border-radius: 6px;
    background: $white;
    &:hover {
      box-shadow: 0 0 50px rgba(4, 251, 183, .2);
    }
    h3 {
      margin-bottom: 30px;
      a {
        font-size: $font-title;
        color: $font-color-title;
        &:hover {
          color: $green;
        }
      }
    }
    .content {
      display: flex;
      .left {
        display: flex;
        flex-direction: column;
        flex: 1;
        .desc {
          flex: 1;
          text-indent: 2em;
          line-height: 1.5;
          margin-bottom: 15px;
          font-size: $font-content;
          color: $font-color-content;
        }
        .date {
          font-size: $font-tips;
          color: $font-color-tips;
        }
      }
      .right {
        display: flex; // align-items: center;
        .img {
          display: block;
          max-width: 180px;
          max-height: 180px;
          border-radius: 10px;
          margin-left: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  ul li {
    h3 a {
      font-size: 24px;
    }
    .content {
      flex-direction: column-reverse;
      .left .desc {
        font-size: 16px;
      }
      .right .img {
        margin: 0 auto 20px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  ul li .content .right .img {
    max-width: 120px;
    max-height: 120px;
  }
}

@media screen and (max-width: 200px) {
  ul li .content .right .img {
    max-width: 0px;
    max-height: 0px;
  }
}
