@import '../../assets/style/_common.scss';
.article-content {
  max-width: $article-content-max-width;
  padding: 40px;
  margin: 0 auto;
  word-break: break-word;
  background-color: $white;
  border-radius: 5px;
  .title {
    font-size: 26px;
    padding-bottom: 20px;
  }
  .desc {
  }
  img {
    max-width: 100%;
  }
  .banner {
    display: block;
    width: 50%;
    min-width: 300px;
    margin: 50px auto;
  }
}
