@keyframes play48 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1152px 0px;
  }
}
.shapeshifter {
  animation-duration: 800ms;
  animation-timing-function: steps(48);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play48;
}
