@import 'mix'

/* 公用排版类 */
.m--0auto
  margin 0 auto

// word-break
// eg: .w-b--all
for ty in (all break-all) (word break-word)
  .w-b--{ty[0]}
    word-break ty[1]

// float
// eg: .f--l
for po in (r right) (l left)
  .f--{po[0]}
    float po[1]

// text-align
// eg: .text--c

for po in (r right) (l left) (c center)
  .text--{po[0]}
    text-align po[1]

// margin padding
// eg: m-t--10
for v in 0..6
  for ty in (m margin) (p padding)
    for po in (t top) (r right) (b bottom) (l left)
      .{ty[0]}-{po[0]}--{v*10}
        {ty[1]}-{po[1]} v*10px

// margin padding
// eg: m-t--100
for v in 1..5
  for ty in (m margin) (p padding)
    for po in (t top) (r right) (b bottom) (l left)
      .{ty[0]}-{po[0]}--{v*100}
        {ty[1]}-{po[1]} v*100px

// 水平、垂直居中
// eg: .posi-center
.posi
  for po in align vert center
    &--{po}
      posi(po)

// 全局缓动类
// eg: .transition--300
for d in 100 300 500 1000 2000
  .transition--{d}
    transition all (d / 1000)s


/* 链接下划线特效 */
.underline
  underline()

/* 清除浮动 */
.clearfix
  clearfix()
