// 清楚浮动
.clearfix
  &:after
    content ''
    display block
    height 0
    line-height 0
    clear both
    visibility hidden

// 水平定位居中
.posi--align
  position absolute
  left 50%
  transform translateX(-50%)

// 垂直定位居中
.posi--vert
  position absolute
  top 50%
  transform translateY(-50%)

// 水平垂直定位居中
.posi--center
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

// 公用排版类
.t--l
  text-align left

.t--c
  text-align center

.t-r
  text-align right

.f--l
  float left

.f--r
  float right

.t-a--c
  text-align center

.t-a--l
  text-align left

.t-a--r
  text-align right

.m--0-auto
  margin 0 auto

.w-b--b-a
  word-break break-all

.w-b--b-w
  word-break break-word


// margin padding
// eg: m-t--10
for v in 0..6
  for ty in (m margin) (p padding)
    for po in (t top) (r right) (b bottom) (l left)
      .{ty[0]}-{po[0]}--{v*10}
        {ty[1]}-{po[1]} v*10px

// margin padding
// eg: m-t--100
for v in 1..5
  for ty in (m margin) (p padding)
    for po in (t top) (r right) (b bottom) (l left)
      .{ty[0]}-{po[0]}--{v*100}
        {ty[1]}-{po[1]} v*100px

// 全局缓动类
// eg: .transition--300
for d in 100 300 500 1000 2000
  .transition--{d}
    transition all (d / 1000)s


// 下划线动画
.underline
  position relative
  &::after
    content ''
    position absolute
    left 50%
    bottom 0
    width 0
    height 2px
    transform translateX(-50%)
    transition all .3s ease-out
    border-radius 50%
    background #fff
    opacity 0.618
  &:hover::after
    width 100%
    transition all .1s ease-out
    border-radius 1px
    opacity 1
