/* const */
$main-width = 900px // 主体宽度
$side-bar-width = 260px // 侧边栏宽度
$banner-height = 420px

/* colors */
// $page-bg = #eef7f7 // body背景色
$page-bg = #e2f1f5 // body背景色
// $nav-bg = #89d4a7 // 导航背景
$nav-bg = #205f73 // 导航背景
$nav-color = #fff // 导航字体颜色
$font-color-title = #454545 // 标题字体颜色
$font-color-content = #555 // 内容字体颜色

/* font-size */
$font-title = 22px
$font-content = 14px
$font-tips = 12px

$red = #ff694e
$green = #89d4a7
$yellow = #ffe585
$blue = #aaeeff
$pink-deep = #f79f9e
$pink = #ffd1cd

/* theme */
$t-blue = #205f73

/* function */
transition(s)
  transition all s

// 水平、垂直居中
posi(type)
  position absolute
  // 水平定位居中
  if type == align
    left 50%
    transform translateX(-50%)
  // 垂直定位居中
  if type == vert
    top 50%
    transform translateY(-50%)
  // 水平垂直定位居中
  if type == center
    top 50%
    left 50%
    transform translate(-50%, -50%)

// 清除浮动
clearfix()
  &:after
    content ''
    display block
    height 0
    line-height 0
    clear both
    visibility hidden

// 链接下划线特效
underline()
  position relative
  &::after
    content ''
    position absolute
    left 50%
    bottom 0
    width 0
    height 2px
    transform translateX(-50%)
    transition .3s ease-out
    transition-property width, border-radius
    will-change width, border-redius
    border-radius 50%
    background currentColor
  &:hover::after
    width 100%
    transition .1s ease-out
    border-radius 1px
